h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}
/* Change border radius of icon buttons */
.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-page .ui-header {
    background: #2e6f7a !important;
}

.mc-text-center {
    text-align:center;
}

.mc-top-margin-1-5 {
    margin-top:1.5em;
}

.tableClass{
	border: 1px solid #000000;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
	margin: 0px;
    overflow-y:scroll;
    overflow: scroll;
}

#table{
    width: 600px;
	height: 400px;
    margin: 0px;
    overflow-y:scroll;
}