*,
*:before,
*:after {
   box-sizing: border-box;
}

.alert {
    padding: 20px;
    margin: 10px;
    background-color: #f44336;
    color: white;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 5px;
  margin: 0;
  height: 100%;
}

.account-info {
  padding: 0px 20px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  margin-bottom: 12px;
  font-size: 24px;
}
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 12px;
  width: 100%;
  border-radius: 16px;
  font-size: 30px;
  text-align: center;
}

.btn {
  background: steelblue;
  border: 0;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
  float: center;
  border-radius: 24px;
  padding: 16px 32px;
  margin-top: 12px;
}

.bigaccount-info {
  padding: 0px 20px 0 20px;
}
.bigaccount-info label {
  color: #395870;
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}
.bigaccount-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 20px;
  width: 100%;
  border-radius: 16px;
  font-size: 30px;
  text-align: center;
}

.bigbtn {
  background: steelblue;
  border: 0;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
  float: center;
  border-radius: 24px;
  padding: 16px 32px;
  margin-bottom: 16px;
}

.answer label{
  color: #000;
  display: block;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 32px;
  font-size: 30px;
}